<ion-toolbar>
    <ion-buttons start>
        <button (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
        New Task
    </ion-title>

    <ion-buttons end>
        <button (click)="createTask()">Done</button>
    </ion-buttons>
</ion-toolbar>


<ion-content class="outer-content">

    <ion-list>
        <ion-list-header>Task</ion-list-header>

        <ion-item>
            <ion-label stacked>Title</ion-label>
            <ion-input type="text" [(ngModel)]="task.title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Phone</ion-label>
            <ion-input type="tel"></ion-input>
        </ion-item>

        <ion-item clearInput>
            <ion-input placeholder="Username"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list radio-group [(ngModel)]="task.createdBy">

        <ion-list-header>
            Assigned User
        </ion-list-header>

        <ion-item>
            <ion-label>Joe</ion-label>
            <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Sarah</ion-label>
            <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Greg</ion-label>
            <ion-radio value="3"></ion-radio>
        </ion-item>

    </ion-list>

    <!--
    <ion-list>
        <button ion-item (click)="resetFilters()" danger detail-none class="reset-filters">
            Reset All Filters
        </button>
    </ion-list>
    -->

</ion-content>
