
<!-- left menu -->
<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-list>

      <button ion-item menuClose *ngFor="#p of pages" (click)="openPage(p)" [hidden]="p.hide">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>

    </ion-list>
  </ion-content>

</ion-menu>


<!-- main navigation -->
<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
