
.task-list {

  ion-card.task ion-card-header .item {
    padding: 12px;
  }

  ion-card.task ion-card-content .list {
    margin: 0;
  }

  ion-card.task ion-card-header,
  ion-card.task ion-card-content,
  ion-card.task ion-card-content .list ion-item-content {
    padding: 0;
  }
  
}
