<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Tasks</ion-title>
</ion-navbar>

<ion-content class="outer-content task-list">

  <ion-list>
    <ion-item>
      <!--<form (submit)="createTask()">-->
        <ion-label stacked>Quick Add...</ion-label>
        <ion-input type="text" [(ngModel)]="title" (keypress)="quickAdd($event.keyCode)" placeholder="New task name (hit enter)"></ion-input>
      <!--</form>-->
    </ion-item>
  </ion-list>


  <ion-card *ngFor="#task of tasks | arraySort:'-updated'" class="task">

    <ion-card-header>
     <!-- <form (submit)="updateTask(task)">-->
        <ion-input type="text" [(ngModel)]="task.title" (keypress)="checkEnter($event.keyCode, task)"></ion-input>
      <!--</form>-->
    </ion-card-header>

    <ion-card-content xstyle="padding: 0;">
      <ion-list>
        <button ion-item (click)="goToTaskDetail(task)">
          <h3>Details of {{task.title}}</h3>
        </button>
      </ion-list>
      Last updated: {{ moment.utc(task.updated).toDate() | amTimeAgo}}
    </ion-card-content>

    <ion-item>
      <!--
      <button (click)="updateTask(task)" clear item-left>
        <ion-icon name="create"></ion-icon>
        Update
      </button>
      -->
      <button (click)="updateTask(task)" clear item-left>
        <ion-icon name="create"></ion-icon>
        Update
      </button>
      <button (click)="deleteTask(task)" danger clear item-right>
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item>

  </ion-card>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
</ion-content>


<button (click)="presentAdd()" fab fab-bottom fab-right style="z-index: 999">
  <ion-icon name="add"></ion-icon>
</button>